/*-----
    ©2012 GGP & al.jes, certains droits réservés…
    http://geekygoblin.org
    http://aljes.me
    Copyleft: cette oeuvre est libre, vous pouvez la copier, la diffuser et la modifier selon les termes de la Licence Art Libre http://www.artlibre.org
    Pour plus d'information, visitez http://geekygoblin.org/mentions.htm
-----*/

/* 0 - Préliminaires */

* {
    border: 0;
    font: inherit;
    font-size: 100%;
    line-height: 1.5!important;
    margin: 0;
    max-width: 100%;
    outline: 0;
    padding: 0;
    text-decoration: none
    vertical-align: baseline;
}

/*-----

    couleur de fond :  #FAFAFA
    couleur du texte : #292929
    couleur secondaire : #42C200

-----*/

/* 1 - Typographie */

@font-face {
    font-family: Fengardo;
    font-style: normal;
    font-weight: normal;
    src: url(./fontes/fengardoneue-regular.woff) format('woff'),
        url(./fontes/fengardoneue-regular.otf) format('opentype'),
        url(./fontes/fengardoneue-regular.svg) format('svg');
}

@font-face {
    font-family: Fengardo;
    font-style: italic;
    src: url(./fontes/Fengardo-italic.otf) format('opentype');
}

@font-face {
    font-family: Fengardo;
    font-weight: bold;
    src: url(./fontes/fengardoneue-black.woff) format('woff'),
        url(./fontes/FengardoNeue_Black.otf) format('opentype'),
        url(./fontes/FengardoNeue_Black.svg) format('svg');
}

/* 2 - Général */

html {
    background-color: #FAFAFA;
    color: #292929;
    font-family: Fengardo, sans-serif;
    font-size: 125%; /*=20px*/
    -epub-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
    text-align: justify;
}

body {
    margin: 0 auto;
    max-width: 600px;
    width: 80%;
}

img.affiche {outline: solid 1px #292929;}

em {font-style: italic;}
strong {font-weight: bold;}

p, ul, ol {
    list-style: inside;
    margin-bottom: 1rem;
}

li p {margin-bottom: 0;}

ul li {list-style: none;}
ul li::before {content: "– ";}

blockquote {margin-left: 1rem;}

blockquote p::before {content: "— ";}

a {
    border-bottom: 1px solid #42C200;
    color: inherit;
    margin-bottom: -1px;
    text-decoration: none;
}

abbr, acronym, a.definition {
    border-bottom: 1px dashed #42C200;
    margin-bottom: -1px;
}

a:hover, a:focus {
    border-color: inherit;
}

hr {
    border: 0;
    height: 1rem;
    margin: 1rem auto;
    width: 0;
}

hr::after {content: "⁂";}

.skip {
    font-size: 0.7rem;
    margin-bottom: 0.3rem;
    text-align: right;
}

.skip p {margin: 0;}
.skip a {margin-left: 1rem;}

/* 3 - Titres */

h1, h2 {text-align: center;}
h3, h4, h5, h6 {text-align: left;}

h1 {font-size: 1.8rem; margin: 7.1rem 0;}
h2 {font-size: 1.5rem; margin: 1rem 0 0.5rem 0;}
h3 {font-size: 1.3rem; margin: 0.7rem 0 0 0;}
h4 {font-size: 1.2rem; margin: 0.8rem 0 0 0;}
h5 {font-size: 1.1rem; margin: 0.9rem 0 0 0;}
h6, .s-titre {font-size: 1rem;}

h1 {font-weight: bold; text-transform: uppercase;}
h2, h3 {font-variant: small-caps;}
h4, h5, h6, .s-titre {
    font-style: italic;
    font-variant: normal;
    font-weight: normal;
    text-transform: none;
}

/* 4 - Menus */

#menu {text-align: center;}
#menu li {
    display: inline-block;
    list-style: none;
    margin: 0 1rem;
}
#menu li::before {content: "";}

#table ol, #table li {list-style-type: lower-roman;}
#sommaire ol, #sommaire li {list-style-type: none;}

/* 5 - Colophon */

#colophon {
    font-size: 0.6rem;
    margin-top: 1rem;
    text-align: center;
}

#colophon img {width: 20%;}
#logo a {border: 0;}
