#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Type=Application
Name=Textallion
GenericName= textallion 
GenericName[fr]= textallion
Comment=A tool for publishing prose, literature, poetry and gamebooks in HTML, PDF or EPUB, using a simple wiki syntax.
Comment[fr]=Système de traitement de texte utilisant une syntaxe wiki, générant une présentation finale attrayante, que cela soit au format PDF, HTML ou EPUB
Icon=textallion.png
Exec=xterm -fn -*-fixed-medium-*-*-*-20-*-*-*-*-*-*-* -fg black -bg white -u8  -e textallion init -d
Categories=Office;

