body {
    font-family: sans-serif;
    font-weight: normal;
    background-color: #f3f0dc;
}

h1 {
    text-align: center;
    font-weight: normal;
}

.container {
    display: block;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
}

p {
   /* color: #111;*/
    line-height: 1.7em;
    font-size: 13pt;
}

a { 
	color:#E87645;
    line-height: 1.7em;
    font-size: 13pt;
	font-weight: bold;
}

p {
    opacity: 0.0;
    transition: opacity 1.0s;
}

p.show {
    opacity: 1.0;
}

p.choice {
    text-align: center;
}

a:hover {
    color: #444;
}


a::before {
  content: " ";
}


a:hover::after {
  content: " ";
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:active {
  text-decoration: underline;
}

